*{
	margin: 0;
	padding: 0;
}

div{
	white-space: nowrap; /*使窗口缩放后页面div不动*/
}

body{
	/*min-width: 1440px;*/
	/*background-color: #D7F4DF;*/
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#C5F9FE,endColorStr=#D7F4DF); /* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#C5F9FE', endColorstr='#D7F4DF'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#C5F9FE', endColorstr='#D7F4DF')"; /* IE8 */ 
	background:-moz-linear-gradient(top,#C5F9FE,#D7F4DF);/* 火狐 */
	background:-webkit-linear-gradient(top,#C5F9FE,#D7F4DF);/* 谷歌 */
	/*background-size: contain;*/
}




.head{
	width: 100%;
	height: 200px;
	margin: 0 auto;
	background-color: #C5F9FE;
	/*border-bottom: #12CAD3 double 30px;*/
}

.head-content{
	width: 80%;
	height: 80px;
	margin: 0 auto;
}

.head-logo{
	width: 65px;
	height: 65px;
	margin: 25px auto 5px;
}
.head-logo:hover{
	-webkit-animation: head-logo-shake 0.1s linear infinite;
}
@-webkit-keyframes head-logo-shake{
	0%{-webkit-transform:rotate(0deg);}
	25%{-webkit-transform:rotate(-10deg);}
	50%{-webkit-transform:rotate(0deg);}
	75%{-webkit-transform:rotate(10deg);}
	100%{-webkit-transform:rotate(0deg);}
}

.head-title{
	width: 600px;
	height: 65px;
	margin: 25px auto 5px;
}

.head-right{
	float: right;
}

#head-time{
	background-color:rgba(114,192,234,0.7);
	color:#C5F9FE;
	padding: 5px 5px;
	border-radius: 25px;
	font-family: "simHei";
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	margin-top: 15px;
}

.head-CD1,.head-CD2{
	background-color:rgba(114,192,234,0.7);
	color:#C5F9FE;
	padding: 5px 5px;
	border-radius: 25px;
	font-family: "simHei";
	font-weight: bold;
	margin-top:10px;
}

.head-CD1-inner,.head-CD2-inner{
	text-align: center;
}

#head-CD1-days,#head-CD2-days{
	color: #DB517F;
	font-size: 20px;
}

.head-card{
	/*margin-left: 80px;*/
	font-family: "simHei";
	font-weight: bold;
	margin-top: 55px;
}

.head-card-item{
	border: #12CAD3 solid 3px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	color: #8AD1EF;
	background-color: #0E6B6F;
	margin-right: 0px;
	padding: 8px 8px;
	text-decoration: none;
	box-shadow: 0px 0px 8px rgba(34,25,25,0.2);
}

.head-card a:active{
	border: #12CAD3 solid 3px;
	font-size: 20px;
	color: #DB517F;
	background-color: #FFFFFF;
	padding: 11px 11px;
}

.head-card .hovered{
	border: #12CAD3 solid 3px;
	font-size: 20px;
	color: #DB517F;
	background-color: #FFFFFF;
	padding: 12px 12px;
}

.head-card .clicked{
	border: #12CAD3 solid 3px;
	font-size: 20px;
	color: #DB517F;
	background-color: #FFFFFF;
	padding: 12px 12px;
}




.main-content{
	width: 60%;
	height: auto;
	margin: 10px auto;
	float: left;
}

.main-left{
	width: 20%;
	margin-top: 50px;
	float: left;
}

.main-right{
	width: 20%;
	margin-top: 50px;
	float: right;
}

.miao-left{
	width: 150px;
	height: 150px;
	border-radius: 20px;
	box-shadow: 0px 0px 8px rgba(234,25,25,0.2);
	margin-left: 25%;
}

.miao-right{
	width: 150px;
	height: 150px;
	border-radius: 20px;
	box-shadow: 0px 0px 8px rgba(34,25,225,0.2);
	margin-left: 25%;
}

.publicQR,.contactQR{
	width: 150px;
	height: 150px;
	margin-left: 25%;
	margin-top: 3%;
}


.main-info{
	width: 98%;
	height: 200px;
	margin: 0 auto;
	margin-top: 8px;
	margin-bottom: 16px;
}

.main-info-head{
	width: 100%;
	height: 25%;
	background-color: #EFFFEC;
	border-radius: 20px;
	box-shadow: 0px 0px 8px rgba(34,25,25,0.2);
}

.main-info-head span{
	font-family: "Microsoft YaHei";
	font-size: 25px;
	margin-left: -15px; /*初始状态，后续有动画*/
	line-height: 50px;
	opacity: 0; /*初始状态，后续有动画*/
}

.main-info-content{
	width: auto;
	height: 25%;
}

.main-info-type,.main-info-time,.main-info-site{
	width: 12%;
	height: 100%;
	display: inline-block;
	font-family: "Microsoft YaHei";
	font-size: 20px;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	box-shadow: 0px 0px 8px rgba(34,25,25,0.2) inset;
}

.main-info-type{
	background-color: #FFAD8E;
	color: #B54A4A;
}

.main-info-time{
	background-color: #95FF8E;
	color: #3DB940;
}

.main-info-site{
	background-color: #8EFAFF;
	color: #00B7B7;
}

.main-info-inner{
	width: 84%;
	height: 100%;
	display: inline-block;
	font-family: "Microsoft YaHei";
	font-size: 20px;
	line-height: 50px;
	padding-left: 30px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0px 0px 8px rgba(34,25,25,0.2) inset;
}

.main-info-empty{
	width: 98%;
	height: 450px;
	margin: 0 auto;
	margin-top: 8px;
	margin-bottom: 16px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0px 0px 8px rgba(34,25,25,0.2);
	font-size: 25px;
	font-family: "Microsoft YaHei";
	color: #EC5B5B;
}

.main-info-empty-inner{
	width:60%;
	height: 100%;
	margin-left:20%;
	opacity: 0; /*初始状态，后续有动画*/
}




.foot{
	width: 100%;
	height: 150px;
	margin: 0 auto;
	border-top: #C5F9FE dashed 10px;
	clear: both;
}

.foot-banner{
	width: 600px;
	height: 55px;
	margin-top: 47px;
	margin-left: 400px;
}